[2014-09-16 06:38] ifnull opened #1 "Missing requirements in README"
[code]

[2014-09-16 15:57] #1 closed, assigned to nobody

[2014-09-27 07:26] exploitin opened #2 "error"
File "iloot.py", line 362, in <module>
    download_backup(appleid,password,outputdir)
  File "iloot.py", line 349, in download_backup
    client.download(mbsacct.backupUDID[int(id)],fast)
  File "iloot.py", line 311, in download
    self.authorizeGet(authTokens,snapshot)
  File "iloot.py", line 167, in authorizeGet
    self.writeFile(f, decrypted_chunks,snapshot)
  File "iloot.py", line 199, in w

[2014-10-18 01:50] UberSecurity opened #4 "I can not select the copy"
# I can not select the copy,  the script works and show me

Got OTA Keybag
Available Snapshots:  6
Listing snapshot...
Files in snapshot 1 : 0
Listing snapshot...
Files in snapshot 5 : 0
Listing snapshot...
Files in snapshot 6 : 0

And program stop working

[2014-11-02 12:54] mo22 opened #7 "bugfix / patch"
diff --git a/iloot.py b/iloot.py
index 90cc306..ceaa1e4 100755
--- a/iloot.py
+++ b/iloot.py
@@ -192,7 +195,7 @@ class MobileBackupClient(object):
         files = ""

[code]
-        new_files = self.mobile_backup_request("GET", MBS[self.dsPrsID][backupUDID.encode("hex")][snapshotId](offset=offset, limit=limit))
-        new_files = self.mobile_backup_request("GET", MBS[self.dsPrsID][backupUDID.e

[2014-11-04 05:11] ndezith opened #8 "#3"
yudi@linux-phsa:~/iloot> python iloot.py -h
Traceback (most recent call last):
  File "iloot.py", line 22, in <module>
    from chunkserver_pb2 import FileGroups
  File "/home/yudi/iloot/chunkserver_pb2.py", line 4, in <module>
    from google.protobuf import descriptor as _descriptor
ImportError: No module named google.protobuf
yudi@linux-phsa:~/iloot>

[2014-11-08 14:52] richud opened #9 "socket.error: [Errno 104] Connection reset by peer"
After half an hour or so downloading I get this

[code]

[2014-11-08 15:38] richud opened #10 "AssertionError"
[code]

[2014-11-09 12:42] kwayer opened #11 "itunes_style doesn't produce itunes-style backups"
When using the 'itunes_style' flag, with or without 'combined' - the result cannot be read successfully by "iPhone backup explorer" software (tried several different applications) - it can only be read partially, things like photos are not extracted.

Also, it's not possible to restore the backup to an iphone.

How can we improve it to produce a truely itunes-styled backup that can both work with

[2014-11-10 01:22] lordm opened #12 "Failed to unwrap file key for file error"
The tool is working perfectly, but this time there's a file that is doesn't download correctly and  gives me
Failed to unwrap file key for file Documents/ChatStorage.sqlite !!!
What does the error mean ? and how can it be fixed ?

[2014-11-17 09:55] exploitin opened #13 "error"
after you fix code:
Got OTA Keybag
Available Snapshots:  14
Listing snapshot...
Files in snapshot 1 : 0
Listing snapshot...
Files in snapshot 13 : 0
Listing snapshot...
Files in snapshot 14 : 0

no download backups..please fix

[2014-11-21 05:24] UberSecurity opened #14 "New ERROR"
Traceback (most recent call last):
  File "iloot.py", line 542, in <module>
    download_backup(args.apple_id, args.password, args.output, args.item_types, args.combined, args.itunes_style)
  File "iloot.py", line 512, in download_backup
    client.download(UDID, types)
  File "iloot.py", line 417, in download
    self.authorize_get(authTokens, snapshot)
  File "iloot.py", line 238, in authorize_g

[2014-11-21 12:11] #2 closed, assigned to nobody

[2014-11-21 12:16] #4 closed, assigned to nobody

[2014-11-21 12:16] #8 closed, assigned to nobody

[2014-11-21 12:17] #7 closed, assigned to nobody

[2014-11-21 12:18] #9 closed, assigned to nobody

[2014-11-21 12:26] #13 closed, assigned to nobody

[2014-11-21 14:41] #14 closed, assigned to nobody

[2014-11-22 05:18] exploitin opened #15 "error"
snapshot_1/AppDomain-com.apple.calculator/Library/Preferences/com.apple.calculator.plist
Traceback (most recent call last):
  File "iloot.py", line 542, in <module>
    download_backup(args.apple_id, args.password, args.output, args.item_types, args.combined, args.itunes_style)
  File "iloot.py", line 512, in download_backup
    client.download(UDID, types)
  File "iloot.py", line 417, in download

[2014-11-29 21:51] luanjampa opened #16 "add new item type videos"
[code]

[2014-12-12 16:20] #11 closed, assigned to nobody

[2014-12-22 18:21] salamanders opened #18 "Getting repeated issue: "Unable to download snapshot. This snapshot may not have finished uploading yet.""
I get a big download, so it _may_ all be working ok.  However, after having retried a few times, it persistently gives me the following message at the end of the download, making me worried that I'm missing part of it?

[code]

[2014-12-23 08:59] #18 closed, assigned to nobody

[2014-12-26 07:54] AddaxSoft opened #19 "IndexError: list index out of range - in iloot.py"
I faced this error during fetching backup files from icloud servers
This crash precisely happens when I download full backup not just a particular domain.

[code]

This could be an integer overflow or a memory leak.

[2014-12-31 00:42] rcevs opened #20 "Download Domain List"
Hi. I'm wondering if it is posible to download the domains list before downloading the entire backup?

Thanks in advance.

[2014-12-31 05:38] jetXS opened #21 "Installation error ?"
Hi,

I wanted to try your tool but it seems that I unfortunately forgot a step in the installation... I can't seem to figure out what...

I got that error happening all the time, even if both httplib and ssl are installed...

  File "/opt/local/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/httplib.py", line 1001, in request
    self._send_request(method, url, body, headers)
  File

[2015-01-01 17:46] salamanders commented on #18
Its a several months old snapshot so I don't think it was in process.

[2015-01-02 04:51] jetXS commented on #2
Same error. did you find a fix @exploitin ??

[2015-01-02 04:52] jetXS commented on #21
Installation mistakes, fixed.

[2015-01-02 05:09] jetXS opened #22 "UnicodeDecodeError"
Connecting to iCloud and, after choosing snapshots when the download should start:

  download_backup(args.apple_id, args.password, args.output, args.item_types,
args.snapshot, args.combined, args.itunes_style, args.domain)
  File "C:\Users\userName\Desktop\iloot-master\iloot.py", line 572, in down
load_backup
    client.download(UDID, types)
  File "C:\Users\userName\Desktop\iloot-master\iloot.py

[2015-01-02 15:56] jetXS commented on #22
FIXED!!!

The request method used was deprecated, using Pyton 2.7.0, I updated to 2.7.9 and it fixed the problem!

@hackappcom should suggest which version of python to use in the readme file :)

[2015-01-02 15:56] #22 closed

[2015-01-02 16:04] jetXS opened #23 "SSL Error"
I got 2 iClouds account, this error is happening with one of them.

When trying to download files:

Traceback (most recent call last):
  File "C:\Users\XXXX\Desktop\iloot-master\iloot.py", line 610, in <mod
ule>
    download_backup(args.apple_id, args.password, args.output, args.item_types,
args.snapshot, args.combined, args.itunes_style, args.domain)
  File "C:\Users\ XXXX\Desktop\iloot-master\il

[2015-01-02 16:07] jetXS opened #24 "WindowsError (decryption problem ?)"
I got 2 iClouds account, this error is happening with one of them.

While downloading files:

Traceback (most recent call last):
  File "C:\Users\XXXX\Desktop\iloot-master\iloot.py", line 610, in <mod
ule>
    download_backup(args.apple_id, args.password, args.output, args.item_types,
args.snapshot, args.combined, args.itunes_style, args.domain)
  File "C:\Users\XXXX\Desktop\iloot-master\iloot.py"

[2015-01-03 02:22] jetXS commented on #12
got the same error for a lot of my files.

exemple: Failed to unwrap file key for file Media/Recordings/20141215 150555.waveform !!!

[2015-01-03 02:26] jetXS commented on #23
After a day of trying kinda everything :

-I had the same error occurring on a fresh VMWare installation of Windows 7 and a python installation+libraries.

-I had the same error occurring installing using MacPort python installation+libraries.

-I had the same error occurring on a fresh BootCamp installation of Windows 8.1 and python installation+libraries.

It somehow succeeded (why, I don't know

[2015-01-03 02:26] #23 closed

[2015-01-03 04:50] jetXS commented on #19
Got the same error happening in the same condition.

[2015-01-03 15:28] jetXS opened #25 "Upcoming patch/fix ? and controls suggestions."
Hello,

After playing around with your script and looking a bit at the code (even if I'm not that comfortable yet with Python, it's pretty close to others OOP languages I guess... ), I've noticed that 2 errors were happening frequently.

Those errors are happening on full backups (that's what interesting me) with the options --combined and --itunes-style.

The first one is that you are getting dis

[2015-01-04 16:11] xlbillyboylx commented on #12
yep same here, a lot of failed to unwrap file key errors.

[2015-01-05 12:49] hackappcom commented on #25
I'll think about what we can do here. Thank you for feedback.

[2015-01-10 12:28] jetXS commented on #25
Hey !

is there any way to download a specific file ? I'm trying to avoid the crash by downloading all the backup by domains, progressively... however, I'm always missing an important file for decryption... Manifest.plist. is there a way to retrieve manifest.plist ? is Manifest.mdbx the same and would just have to rename ??? I was wondering.

[2015-01-16 19:52] dfirfpi commented on #24
In iloot.py, line 385, the code is not correcly idented.
The line "os.remove(oldpath) # Delete the encrypted file" should be moved backward, aligned with "open(oldpath, "rb") as old_file:" otherwise, on Windows, the encrypted file handle is still opened and
you can't remove the file.

[2015-01-21 18:14] jansoucek opened #27 "Stopped working"
Turns out it was a proxy issue. Apologies.

[2015-01-22 10:04] #27 closed

[2015-01-22 11:56] andyofb opened #28 "IMEI"
Is there any way to get hold of the IMEI number from a backup?

[2015-01-28 13:49] dibas opened #29 "First snapshot containing files is not always Snapshot 1"
Just as the title says. I was wondering why I got a 20MB backup folder when trying to download a backup 3G in size, turns out snapshot 1 was empty. I modified the code to iterate through every snapshot and tell me how many files it contains, apparently snapshot 202(!) was the "base" snapshot for me, so I just adjusted line 422 to
`snapshot_list = [202, mbsbackup.Snapshot.SnapshotID - 1, mbsbackup.

[2015-01-28 18:26] jetXS opened #30 "Manifest.plist"
Hello,

Regarding backup encryption/decryption, the manifest.plist file seems to be the most important file for an iOS backup,
is there anyway to retrieve the manifest.plist file from the iCloud Backup using iloot.py ? I don't know if it's because my downloads are failing to complete but it seems impossible to get hands on the manifest.plist file...

Thank your for your time.

[2015-01-29 17:45] mattandersen commented on #30
The Manifest.plist that you see in iTunes backups likely does not exist in iCloud and isn't currently generated by iloot. But that shouldn't be required for simple forensic or data archive reasons. iloot will make a Manifest.mbdb file, by using the --itunes-style argument. This file allows translating the hashed filenames iTunes makes to real filenames.

If you're trying to take an iCloud backup a

[2015-01-29 17:53] mattandersen commented on #29
What is the highest snapshot ID in your backup? It sounds like Snapshot ID 1 is still your first backup, but that backup just didn't have very much in the way of files. What should happen is that with each successive backup to iCloud, the snapshot 202 data will eventually be moved to 1 and you'll have snapshots 203, 204 live.

There is also the case that a backup was in progress, which iloot curre

[2015-01-29 17:53] jetXS commented on #30
Well, the thing is that it is not possible to open the backup for analysis without the manifest.plist in a simple software like iExplorer or more complex like Oxygen... I thought that it would be possible but I understand your explanations, my bad. I started to compare a .plist file from an iTunes backup and the rootdomain files of an iCloud backup and, saw a lot of similarities. I thought it migh

[2015-01-29 17:59] mattandersen commented on #28
Not that I am aware of. It doesn't appear in any of the datasets normally associated with the backup. Some other iCloud service might have it, but currently the backups use the UUID for everything and not IMEI.

[2015-01-29 18:54] dibas commented on #29
Snapshot 617 was the highest one shown in iloot (The only snapshots containing data were 202, 616 and 617, that's how I came to the conclusion 202 being the base snapshot containing most of the files). I'm not sure about how iCloud backups work at all in detail, I just needed to download my backup before overwriting it with a cleanly restored iPad. The backup was definitely not in progress, the la

[2015-02-02 22:25] #30 closed

[2015-02-04 18:54] BrainRift commented on #19
I am having the same issue when I attempt a full backup, but if I specify a domain, so far it has been working.

[2015-02-06 15:55] jetXS commented on #21
Apparently not an installation issue, still happening on full backup download since the last fix.

[2015-02-07 19:29] yeukhon commented on #19
Indeed. This issue is not allowing me to download photos...

[2015-02-08 12:34] #19 closed

[2015-02-12 13:39] BrainRift commented on #19
Thank you !

[2015-02-12 23:11] yeukhon commented on #19
There is a some bg to fix. Some files will fail to decrypt BUT at least you can get most of the files... FYI.

[2015-02-17 19:25] imton commented on #23
iloot.py
[code]

[2015-02-23 10:04] rrover commented on #12
This issue is happening again now, something changed to the encryption method again?

[2015-02-23 12:51] 9rga commented on #12
You have to check file protection level, if it's equal 3 (NSFileProtectionCompleteUntilFirstUserAuthentication) file can'not be decrypted now, because:

[2015-02-24 15:52] Lethal2k22 opened #33 "Decrypt file"
Whenever i try to download a whatsapp snapshot it throws me this message

 Unable to decrypt file, possible old backup format

[2015-02-25 16:32] bertjames32 opened #34 "SSL Certificate Verify Failed"
Trying to download the full backup in itunes format. Also have got it when trying to do the normal download with correct file names.   and get the following after about 10 minutes:

Traceback (most recent call last):
  File "iloot.py", line 611, in <module>
    download_backup(args.apple_id, args.password, args.output, args.item_types,
args.snapshot, args.combined, args.itunes_style, args.domain)

[2015-03-08 18:19] iainmeikle opened #35 "chunk decryption failed - session timeout"
With particularly large backups running on slow hardware the error "chunk decryption failed" arises after around an hour. This is due to the fact that the URI used at iloot:289 (container.host_info.uri) contains session timeout attributes (se and st). The session timeout seems to be one hour. As decryption is interspersed within download, both download and decryption must complete within one hour.

[2015-03-17 01:17] ediaz369 opened #36 "memory error"
Runs for awhile and then I get a memory error.

Traceback (most recent call last):
  File "/root/Desktop/iloot-master/iloot.py", line 611, in <module>
    download_backup(args.apple_id, args.password, args.output, args.item_types, args.snapshot, args.combined, args.itunes_style, args.domain)
  File "/root/Desktop/iloot-master/iloot.py", line 573, in download_backup
    client.download(UDID, types)

[2015-03-21 12:30] genhack opened #37 "Some info about it"
Hi, thanks for a job well done, but I wanted a little information .. In order to access I need necessariametne psw? or allowed by request UDID? If you have not understood how to do thanks in advance

[2015-03-27 18:42] FiZiX opened #38 "Doesn't run on Python 2.7.9"
The latest commit gives the following error when trying to run on Python 2.7.9:

`TypeError: __init__() got an unexpected keyword argument 'server_hostname'`

What is the target version of Python for this build?

[2015-04-13 22:17] peterholko commented on #38
Same error for me.

[2015-04-14 19:20] Batze93 opened #39 "Problem with installing requirements"
I have a problem with pip and the requirements.txt

I tried everything :( What is the command "make"?

------------------------------------------------------------
C:\Python27\Scripts\pip run on 04/14/15 21:16:00
Downloading/unpacking gevent from git+https://github.com/cloudflare/gevent.git (from -r requirements.txt (line 1))
  Cloning https://github.com/cloudflare/gevent.git to c:\users\diebolpa\

[2015-04-16 13:40] darrynza opened #40 "BadStatusLine issue with greenlet ???"
Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/gevent/greenlet.py", line 340, in run
    result = self._run(*self.args, **self.kwargs)
  File "iloot.py", line 301, in download_chunks
    container.host_info.uri, "", headers)
  File "iloot.py", line 95, in probobuf_request
    response = conn.getresponse()
  File "/usr/lib/python2.7/httplib.py", line 1045, in getr

[2015-04-16 18:54] hackappcom commented on #40
Hi, seems to be iCloud server rejects so many threads, try to play with DEFAULT THREADS global variable.

[2015-04-16 21:28] darrynza commented on #40
Hi,
So I'm down to 5 threads at the moment , testing it but it dies at random places. i got 330MB of a 1GB backup on 50 threads, then 160MB/1GB on 10/20 threads.. you sure this is the reason?

this error is what I am getting now, seems more verbose than the previous one and seems to point to SSL issues?

File "/usr/local/lib/python2.7/dist-packages/gevent/greenlet.py", line 340, in run
    result

[2015-04-17 04:16] fitus commented on #38
same

[2015-04-17 05:22] Marfusios commented on #39
Change line in requirements.txt from "git+https://github.com/cloudflare/gevent.git#egg=gevent" to just "gevent".
Library gevent is already saved as package - https://pypi.python.org/pypi/gevent

[2015-04-17 05:27] Marfusios commented on #38
It's strange, because in PyCharm IDE it works, but starting in console it doesn't.
Tested on Mac 10.10.2.

[2015-04-17 10:08] hackappcom commented on #40
Damn, I've seen this few times too.
Empty reply (EOF) could be antibot protection, or just icloud bugs. All I can recommend now is to launch iloot once again. I have plans to write retry-on-exception code, but right now I can't say when.

[2015-04-17 10:09] hackappcom commented on #39
changed

[2015-04-17 10:09] #39 closed

[2015-04-17 21:06] darrynza commented on #40
Cool ,

thanks alot for the awesome app and the work you put into. It is much
appreciated :)... And keep up the good work, I think we can close this
thread.

keep well and all the best
On 17 Apr 2015 12:08, "HackApp GIT" <notifications@github.com> wrote:

[2015-04-18 10:09] recyclebin1123 opened #41 "line 68"
Hi.
As im writing all the things in. It comes with an error
It says "file iloot.py", line 68
   Print failed "chunk decryption  failed"
Syntaxerror: Missing parentheses in call "print"

What to do?

[2015-04-20 10:48] victorhooi commented on #41
Hmm, are you running this under Python 3 by any chance?

I believe that iLoot only works with Python 2.

[2015-04-20 13:24] recyclebin1123 commented on #41
Okay, i've tried that, but now it says "Traceback (most recent call last) file "iloot.py", line 5, in <module> import gevent import error: No module name gevent

[2015-04-21 08:12] hackappcom opened #42 "make test fails"
Hello,
I've never worked with erlang before.

System version: Erlang/OTP 17 [erts-6.4] [source] [64-bit] [smp:4:4] [async-threads:10] [hipe] [kernel-poll:false]

When I'm running 'make test' I get this:

==> mochiweb (get-deps)
==> webmachine (get-deps)
==> DirBustErl (get-deps)
==> mochiweb (compile)
==> webmachine (compile)
==> DirBustErl (compile)
==> mochiweb (eunit)
======================== E

[2015-04-21 12:29] hackappcom commented on #41
Hi, sorry about delay.
What is your python version?

[2015-04-24 05:24] carlferdinand commented on #40
Were you ever able to find a solution for this? I'm having the same exact issue.

[2015-04-24 21:11] FiZiX commented on #38
It works with 2.7.8. I believe it's an issue with gevent. See here:

https://github.com/gevent/gevent/issues/477

[2015-04-27 15:49] xlbillyboylx commented on #36
Yeah I get the same thing sometimes.

[2015-04-27 16:25] xlbillyboylx opened #43 "Another Memory Error"
File "iloot.py", line 621, in <module>
    download_backup(args.apple_id, args.password, args.output, args.item_types,
args.snapshot, args.combined, args.itunes_style, args.domain)
  File "iloot.py", line 583, in download_backup
    client.download(UDID, types)
  File "iloot.py", line 461, in download
    self.authorize_get(authTokens, snapshot)
  File "iloot.py", line 248, in authorize_get
    da

[2015-04-30 09:57] edurmiller commented on #33
I am suffering the same error[.](http://www.myicloudbackup.com)

[2015-04-30 11:12] hackappcom commented on #43
Hi. How much RAM do you have?

[2015-04-30 12:54] xlbillyboylx commented on #43
16 gigs

[2015-05-07 00:45] jamadden commented on #38
Try either the branch referenced in #551 or #552, depending on whether you want stable or master, in that order.

[2015-05-08 10:51] dwkns opened #45 "Script fails with..."
The script is not working for me on 10.10.3 (14D136) and Python 2.7.9

	$python iloot.py d******@******.com P********d

Gives :

	Working with d******@******.com : P********d
	Output directory : output
	Traceback (most recent call last):
	  File "iloot.py", line 627, in <module>
	    download_backup(args.apple_id, args.password, args.output, args.item_types, args.snapshot, args.combined, args.itun

[2015-05-08 17:41] Marfusios commented on #45
Same as #38

[2015-05-09 08:09] dwkns commented on #45
Yep. It is. Closing...

[2015-05-09 08:09] #45 closed

[2015-05-09 08:18] dwkns commented on #38
Have confirmed this is an issue with 2.7.9. And I think @FiZiX is right about it being a gevent problem.

You can get round it by using [pyenv](https://github.com/yyuu/pyenv)

On OS X :

	$ brew install  pyenv

Followed by :

	$ echo 'eval "$(pyenv init -)"' >> ~/.bash_profile

Open a new terminal window. Then...

	$ pyenv install 2.7.8

To check :

	$ python --version

You'll probably need to upd

[2015-05-21 15:48] abyssgazer257 opened #46 "Only 3 snapshots."
I have changed line 452 to:
snapshot_list = [1] + list(range(2, mbsbackup.Snapshot.SnapshotID + 1, 1))[::-1]

But it still can only download 3 snapshots. Why?

If it's some kind of icloud limitation is there a way to get around it? Because on the iphone itself it lets you choose more than 3 backups.

[2015-05-25 19:46] herrgutt opened #47 "SSLError: [Errno 8] _ssl.c:510: EOF occurred in violation of protocol"
Been getting this error in the middle of a download (about 10% downloaded). Sometimes if you restart it will download something it has not downloaded before then stop again. 8 gb ram and python version 2.7. This will cause the backup to stall about 10% in.. Any solutions to this will be greatly appreciated.

Traceback (most recent call last):
  File "C:\Python27\lib\site-packages\gevent\greenlet.p

[2015-05-25 21:41] abyssgazer257 commented on #47
Modify the original script to not download files that already exist. It's the only solution.

[2015-05-26 19:02] herrgutt commented on #47
Thanks for the soulution!

(I need help with modifying the original script to not download files that already exists)

I have decreased to only one thread.. Yep it's really slow.(Is there a way to keep the number of threads a little higher without getting the SSL error?)  But I am still getting another error, please see below:

Traceback (most recent call last):
  File "C:\Python27\iloot\iloot.py"

[2015-05-27 01:39] abyssgazer257 commented on #47
I can tell you how I did it, it was a dirty fix so it won't work if you do something like maintaining itunes filenames or using --combined.

In function download() I added:

            def file_doesnt_exist(a_file):
                directory = os.path.join(self.output_folder, re.sub(r'[:|*<>?"]', "_", "snapshot_"+str(snapshot)+"/"+a_file.Domain))
                path = os.path.join(directory, a_f

[2015-05-27 04:25] alytic commented on #47
Sorry to be a pain, but which lines did you add the codes at?

[2015-05-27 18:41] herrgutt commented on #47
Hello and thanks a lot for the help this far.

Could you point out the lines where im about to add the code? I cant seem to get it to work. Thanks in advance.

[2015-06-12 13:14] ikajava opened #49 "Unable to download snapshot. This snapshot may not have finished uploading yet."
Hello,
I have an problem, after autorisation iloop findes my all backups, snapshots and lists files into snapshot.
but after this there is an error message: "Unable to download snapshot. This snapshot may not have finished uploading yet.".
I have disabled backup from iphone too, but without success.
Is any solution?

Thanks a lot

[2015-06-16 02:37] #46 closed

[2015-06-16 04:42] hackappcom commented on #49
Could this snapshot be used from any other device?

[2015-06-18 17:35] stdout9 opened #50 "Using app-specific password with 2FA"
When using an iCloud account configured for two-factor authentication, trying to use an app-specific password fails with "Request /setup/authenticate/$APPLE_ID$ returned code 401"

[2015-06-19 09:33] denstr37 opened #51 "Help plz"
I'm writing a client for Icloud. How can I get .proto file(ex.icloud.proto)? How do you get it? thanks

[2015-06-23 15:46] shusain93 commented on #51
Please close this issue and open a new one with a better title and a better explanation of what you want.

[2015-06-23 15:48] shusain93 commented on #50
I don't think app specific passwords can be used in this case because a real device wouldn't be able to restore from a app specific password during the initial setup. I don't think a work around is actually possible here.

[2015-06-23 15:49] stdout9 commented on #50
Good point.

[2015-06-25 08:13] #51 closed

[2015-06-28 06:41] Zippyvinman opened #52 "How do I even use this?"
I am trying to get my OWN iCloud backup off the cloud, because I just jailbroke my phone, and failed to get all my files off of it (stopped re-downloading documents). How can I do this myself? All of the "free trial software" is a bunch of bullshit which doesn't let me get ANYTHING without paying. How can I do this myself? Someone - PLEASE help... time sensitive since the backup will delete in a f

[2015-06-29 23:02] danzek commented on #52
Did you try reading the instructions in the README file?

[2015-06-29 23:26] Zippyvinman commented on #52
I am very poor with python and coding at all. I managed to figure it out
though, thanks anyway.

On Mon, Jun 29, 2015 at 7:02 PM Dan <notifications@github.com> wrote:

[2015-07-01 21:26] danzek commented on #35
I have encountered this same issue with a 10GB backup.

[2015-07-03 11:28] fnatalucci opened #53 "Couldn't find index page for 'pytz' (maybe misspelled?)"
Requirement already satisfied (use --upgrade to upgrade): pycrypto in /usr/lib/python2.7/dist-packages (from -r requirements.txt (line 3))
Downloading/unpacking protobuf (from -r requirements.txt (line 4))
  Downloading protobuf-2.6.1.tar.gz (188kB): 188kB downloaded
  Running setup.py (path:/tmp/pip_build_root/protobuf/setup.py) egg_info for package protobuf
    Download error on https://pypi.pyt

[2015-07-03 14:12] fnatalucci commented on #53
SOLVED: with pip install pytz

[2015-07-03 14:12] #53 closed

[2015-07-03 14:31] fnatalucci opened #54 "No local packages or download links found for python-dateutil>=1.4,<2"
# sudo pip install -r requirements.txt --proxy http://proxyCustom:8080

Requirement already satisfied (use --upgrade to upgrade): gevent in /usr/local/lib/python2.7/dist-packages (from -r requirements.txt (line 1))
Downloading/unpacking hurry.filesize (from -r requirements.txt (line 2))
  Downloading hurry.filesize-0.9.tar.gz
  Running setup.py (path:/tmp/pip_build_root/hurry.filesize/setup.py) eg

[2015-07-03 14:48] fnatalucci commented on #54
I manually download
https://pypi.python.org/pypi/python-dateutil/1.4.1

./setup.py install

and after

launch
sudo pip install -r requirements.txt

[2015-07-03 14:48] #54 closed

[2015-07-06 06:21] Batze93 opened #55 "New Encryption Method?"
Sinc last night, i get every time the same error: failed to unwrap file key for file *** (for every file!). Does iloot need an update?

[2015-07-09 08:55] danjng commented on #35
Any ideas on this one yet? The script is pretty much non-functional for me.

I have a 16GB backup and it's dying after an hour.  Suggestions?  Is there a way we can manually set or disable the timeout?

[2015-07-09 14:31] danjng commented on #35
I'm getting a lot of chunk decryption failures. Does that typically mean the entire backup is hosed and I should start over?

I tried setting an individual HTTPS timeout of 5 minutes to see if that would make any difference. Any insight on what the default timeout typically is?

[2015-07-09 15:12] danjng commented on #35
So 5 minutes did nothing; will try 'None' to see what happens.

I'm getting this at the end just after a whole mess of chunk description failures:

Traceback (most recent call last):
  File "iloot.py", line 649, in <module>
    download_backup(args.apple_id, args.password, args.output, args.item_types, args.snapshot, args.combined, args.itunes_style, args.domain, args.threads)
  File "iloot.py", l

[2015-07-09 18:21] iainmeikle commented on #35
It is possible to work around the issue temporarily by modifying the code to start at a particular index. Hard code the initial value to zero, increment the index for each chunk as expected, print the index each time. When the script fails, change the hard coded start index to the index on which the script failed. Run the script again until it fails. Repeat until you have managed to complete every

[2015-07-09 20:18] danjng commented on #35
That's definitely good to know. Although I'm not sure how good it would do since all of the errors don't just come at the end and bomb out or something. They happen seemingly randomly.

So just to update anyone who cares, setting that timeout=None doesn't seem to do much. I still get a ton of the decryption failure messages.

For some reason when I modified the types to only pull photos and videos

[2015-07-17 20:30] #25 closed

[2015-07-17 20:31] #24 closed

[2015-07-17 20:31] #21 closed

[2015-07-30 03:30] martynball opened #56 "The filename or extension is too long"
Getting the following error when attempting to download my iCloud backup!
WindowsError: [Error 206] The filename or extension is too long: u'output\\6ec10
48b2041b245b29eab874be26ac97a21ba2a\\snapshot_1/KeyboardDomain\\Library/Keyboard
/CoreDataUbiquitySupport/mobile~8B696293-3C45-5876-8CD6-3F97ED896464/UserDiction
ary/7CA0B13C-C4B3-422E-8274-C72362275AA0'

How can I fix this?

[2015-07-30 04:00] danjng commented on #56
What are the parameters that you are passing in?

If you're using --itunes-style, you may be able to shorten the output filenames by dropping that parameter and outputting human-readable filenames.

[2015-07-30 04:06] martynball commented on #56
Ah, not using any parameters apart from the login information, I will try that thanks.

[2015-07-30 04:13] danjng commented on #56
Actually, I think there may have been a slight misunderstanding. On my part, I thought that not having --itunes-style would make paths shorter, but in reality, you would have shortened paths (being output in a flat file structure), with mangled filenames.

If you use --itunes-style, the data should all be there, but the filenames will be weird. You can certainly give that a shot, especially if you

[2015-07-30 04:25] martynball commented on #56
Seems to be working perfect, thanks ! Used --itunes-style and I moved to a
less deep path.
On Thu, 30 Jul 2015 at 5:13 am, Dan <notifications@github.com> wrote:

[2015-07-31 03:27] victorhooi opened #57 "Downloading 5300 files due to filter?"
I've running iloot without any arguments, and in the output I see this:

[code]

Are you able to provide any explanation around the above, or what it means?

Also, the downloading appears to stall at the same point each time, shortly after retrieving a sms.db file. Is there any data I could gather, to see what it might be stalling on?

[2015-07-31 04:12] danjng commented on #57
Are you seeing any sort of error? Is that the ONLY output that you're seeing after using the app?

About how long is it taking before it stalls?

I think it may also help to know what OS and environment you're running under...

[2015-07-31 05:18] victorhooi commented on #57
This is running on OSX 10.11, with Python 2.7.10.

This is the output after running:
[code]

So my first question is, what does the filter message mean?

After that it proceeds to start download files into output - it gets to around 1.2 GB, and then stalls - it appears to have stalled at the same amount of data each time.

I didn't time how long it ran for, but I would estimate maybe 30-40 minutes

[2015-07-31 05:56] danjng commented on #57
So I believe that the filter message is referring to the number of objects that it should download after applying filters (stating the obvious). In your case, however, you aren't applying any filters (no params) so it should be pulling everything. I don't know if 5300 is an exact number, but if you had applied any filters (e.g. using the --item-types parameter - you can just download all of your p

[2015-08-04 17:34] horrorho opened #58 "Suggestions for improvements/ bugfixes."
Hi, I'm currently writing a similar tool in Java, [LiquidDonkey](https://github.com/horrorho/LiquidDonkey), which borrows heavily from iloot and [iphone-dataprotection](https://code.google.com/p/iphone-dataprotection/).

I've fixed a few issues which may still be problematic in iloot, although you may already be aware of them. I do not program in Python so please forgive my limited help and any sh

[2015-08-08 17:24] thedeweese commented on #52
hey how did you get it to work

[2015-08-10 16:38] Joe96 opened #60 "Modify filenames in windows"
I was using iloot on python 2.7 on windows and i encountered this error:

IOError: [Errno 22] invalid mode ('wb') or filename: u'C:\\Users\\Joe\\Desktop\\ios\\406065c4f76dbf29adc4fbc32726f6f6f7a9008f\\snapshot_1/AppDomain-si.modula.instantheartrate\\Documents/logs/log_2015-07-29T15:03:27.498.txt'

This is due to the fact that the character ":" is reserved [note the date in the filename uses this c

[2015-08-12 05:30] danjng commented on #60
Sounds like this can be knocked out with a little bit of gsub magic... I'd do it if I had the time. Maybe someone will take care of this? I will if/when I have a moment.

[2015-08-25 03:14] shoney123 commented on #56
I had the same problem with the file extensions, and I used --itunes-style to work around the issue and it worked to perfection.

Is there a good way to easily open the files created by --itunes-style? Windows doesn't like them, and I have to manually select which program to use.

[2015-09-14 17:23] jlanonimo opened #61 "one snapshot but whitout files"
Dear all

I want to download the files in the backup but it says there is one snapshot with 0 files, but if I check with icloud exists photos and other records

python iloot.py --output "C:\cp" xxxxxxxxxxx yyyyyy
Working with xxxxxxxxxxx : yyyyyyyyyy
Output directory : C:\cp
Available Devices:  1
===[ 0 ]===
        UDID:  2e0a2cd3c94802dd29ca321e2896a85be3031af7
        Device:  iPhone 5c

[2015-09-16 17:46] jlanonimo commented on #61
Hello friends... some body there? maybe it is some thing easy but it is the first time I am trying to do it.

I will appreciate your help

Regards

[2015-09-19 10:59] ciucaandrei opened #62 "Is this compatible with iOS 9?"
I updated to iOS 9 and I can not download the new backup. I can connect to the account but I only see the backup from iOS 8. It is almost like the backup from iOS 9 is on a different server.

[2015-09-20 12:02] dickies05 opened #63 "TypeError: __init__() got an unexpected keyword argument 'server_hostname'"
Got this error. whats wrong?

Output directory : output
Traceback (most recent call last):
  File "C:\phy\iloot-master\iloot.py", line 649, in <module>
    download_backup(args.apple_id, args.password, args.output, args.item_types, args.snapshot, args.combined, args.itunes_style, args.domain, args.threads)
  File "C:\phy\iloot-master\iloot.py", line 569, in download_backup
    authenticateResponse

[2015-09-21 07:40] luc-lynx commented on #62
I see the same:

`python iloot.py -o ./backup/ "...@icloud.com" '...'
Working with ...@icloud.com : ...
Output directory : ./backup/
Available Devices:  0
There are no backups to download!`

[2015-09-21 08:56] cheyenne commented on #62
I get only the iOS 8 backups as well.  To be sure it wasn't a different issue (e.g. slow propagation of backups into iCloud), I restored my iOS 9 device from an iOS 9 backup, and that worked and contained the newer backup data missing from the iOS 8 content I see in iloot.

[2015-09-22 13:49] mattandersen commented on #62
So it appears that in iOS 9 they re-built backups to be based on CloudKit. This means that the process of accessing backups is totally different. I had started reversing CloudKit but hadn't gotten very far. I'll continue to work on it. And if anyone has done some work in this area, feel free to jump in.

[2015-09-22 16:44] FiZiX commented on #63
You're probably using a version of Python that's too new for gevent. Try version 2.7.9

[2015-09-22 17:58] dickies05 commented on #63
Yes you are right. That was the problem

[2015-09-25 04:21] #12 closed

[2015-09-25 14:05] GarethWright commented on #34
yup get that too. Win7

[2015-09-26 03:51] Sirack opened #64 "get_keys FAILED!"
This is what happens when I tried to run python iloot.py

Downloading backup 335c8e19d28a3c79ddf84f9d4814b8713d35d64f to output/335c8e19d28a3c79ddf84f9d4814b8713d35d64f
get_keys FAILED!

[2015-09-28 09:16] al-broco opened #66 "If there are only two snapshots, the first one is downloaded twice"
If there are only two snapshots, the first one is downloaded twice.

Example: I ran `python iloot.py --item-types notes --output output <account> <pwd>` and got the following output:

[code]

Note that snapshot 1 is downloaded twice.

[2015-09-28 09:23] al-broco commented on #66
Created a pull request for a simple fix: https://github.com/hackappcom/iloot/pull/67

[2015-10-02 07:43] KOWLOR opened #69 "Troubles / Tips to install gevent on OSX Yosemite 10.10.5"
Spent 3 hours to install gevent, the only solution I've found was to edit the requirements.txt from

[code]

to

[code]

And it worked.

[2015-10-02 11:00] shuaibimran commented on #62
Is there any sign of success

[2015-10-14 18:33] FiZiX commented on #62
A jailbreak is out for iOS 9 now. Hopefully that'll help the reverse engineering efforts.

[2015-10-19 08:47] vipinbeni commented on #62
same issue here it camt work for ios 9 ..... any progress..

[2015-10-19 12:58] OverByThere commented on #62
As a side point for any developers that may be able to work with this, there is now a third party app that (apparently) works with iOS 9 backups, which is found detailed here:
http://www.iphonebackupextractor.com/blog/2015/sep/25/download-ios-9-icloud-backup-data/

However, this app costs, and is not open source; but this may help people in the short term, and possibly help developers bring iloot

[2015-10-19 14:11] horrorho commented on #62
I had a look at iPhone Backup Extractor web logs a while back and it performs a round about operation connecting to it's own servers, which in turn connect to iCloud. We don't see any of the iCloud API mechanics first hand. Boo.

Unfortunately I don't have unfettered access to an iOS 9 device so I've been unable to acquire logging sessions of backup retrievals. This is what we really need. Failing

[2015-10-19 14:18] FiZiX commented on #62
@horrorho I have some logs I've collected with Fiddler. What's the best way to contact you directly?

[2015-10-19 14:24] horrorho commented on #62
@FiZiX fantastic!

horrorhorrorho@gmail.com

[2015-10-20 01:16] fongph commented on #62
@FiZiX Can you please send me the fiddler logs also? Thanks

fongph@gmail.com

[2015-10-20 11:15] dixon528 commented on #62
its cool, please send me logs also! Thanks
chinedisi@gmail.com

[2015-10-20 12:50] FiZiX commented on #62
@fongph @dixon528 I'm sorry but I can only share the logs with persons who have public Github projects related to restoring iCloud backups.

[2015-10-20 14:07] dixon528 commented on #62
@FiZiX can you parse only requests, responses from logs and send me.

[2015-10-21 20:23] horrorho commented on #62
Hi all. I've had a few offers of assistance for creating logs of iCloud restorations to iOS9 devices. However the process is not trivial and appears further complicated in iOS9 with the introduction of additional [security layers](https://developer.apple.com/library/prerelease/mac/technotes/App-Transport-Security-Technote/index.html).

If anyone has detailed information on achieving this, it would

[2015-10-22 13:09] horrorho commented on #62
Ok. I've written a proof of concept tool that demonstrates what we have discovered so far regarding iCloud and iOS9. There are maybe only a couple of client-server calls left remaining to figure out.

https://github.com/horrorho/InflatableDonkey

[2015-10-23 00:53] markxmith commented on #62
Hi , I want to help you guys by taking logs from my iphone running iOS 9..0.2 but I've never done it. So you can either send me detailed instructions to take the logs Or we can communicate on a messenger and do a live session to take logs from phone. I follow Australian eastern time zone and I'm available on weekend as well

[2015-10-23 07:51] horrorho commented on #62
@markxmith help is always appreciated, however the real issue is that it's unclear exactly *how* we create backups. Hopefully some bright spark will figure it out soon!

Additional note. I've figured out another step and pushed the new [code](https://github.com/horrorho/InflatableDonkey). I'll hit the grindstone again this evening. You now all owe me chocolate! Thank you.

[2015-10-23 12:59] markxmith commented on #62
@horrorho , i do have an Apple account which contains iCloud backup from 9.0.2 device. Will it be helpful If i give you credentials of that account ? It is just a test account

[2015-10-23 16:32] horrorho commented on #62
@markxmith  thank you for the offer! But I already have an iOS 9 iCloud account I can access and test retrieval with. However, and understandably, the owner is reluctant to let me jailbreak their iPhone.

That being said, the client-server calls are almost complete. My concern is the presence of encrypted fields. I have a very limited grasp of cryptography, so that will prove challenging.

[2015-10-24 08:51] horrorho commented on #62
Ok, some good news and some bad news.

Good, steps 9 and 10 are functional so we should be able to download files.

Bad, step 9 returns [encryptedAttributes](https://github.com/horrorho/InflatableDonkey/blob/master/src/main/java/com/github/horrorho/inflatabledonkey/Main.java#L683) for files. Without this we do not know what the files represent, nor can we decrypt them if needed. Unless this is sol

[2015-10-26 14:09] FiZiX commented on #62
I was able to get Fiddler to capture the iCloud restore process on iOS 9. Here's what I did:

1.	Backup the iOS 9 device to iCloud
2.	Reset the device to defaults: Settings – General – Reset – Erase All Content and Settings
3.	Go through the setup assistant without connecting to WiFi, then tell it to skip the rest of the setup
4.	Jailbreak the device
5.	Connect to WiFi
6.	Install iFile from Cydia

[2015-10-26 16:06] devzero0 commented on #62
Here's a way to capture it without Jailbreaking if that makes things any easier:
1. Backup the iOS 9 device to iCloud
2. Reset the device to defaults: Settings – General – Reset – Erase All Content and Settings
3. Go through the setup and configure WiFi
4. Turn off HTTPS decryption in Fiddler
5. Press the home button to go back to the WiFi configuration, tap the 'i' and configure proxy settings to

[2015-10-26 16:42] FiZiX commented on #62
@devzero0 Thanks! I had looked at Apple Configurator but the documentation made it look like it could only be used after the Setup Assistant was finished. Great discovery!

[2015-11-02 11:10] vipinbeni commented on #62
any update for ios 9

[2015-11-03 06:39] horrorho commented on #62
@vipinbeni From the [InflatableDonkey](https://github.com/horrorho/InflatableDonkey) side, it's been a tough week. Apple have tightened up the security model and it's proving difficult. If anyone has any information, it would be much appreciated.

I've made brief [write-up](https://github.com/horrorho/InflatableDonkey/blob/master/CloudKit.md) of some low-level CloudKit mechanics that may interest

[2015-11-03 08:00] fongph commented on #62
Hi horrorho

Did you find a way to get the UDID besides the serial number of a device
when calling "/api/client/record/retrieve" to retrieve the snapshots list
for the device? I have gone through a complete iCloud restore log but
didn't seem to be able to find the UDID of devices in plain text within the
Protobuf response messages. Please advise.

Thanks

On Mon, Nov 2, 2015 at 10:39 PM, horrorho

[2015-11-03 08:48] horrorho commented on #62
@fongph Hi. Ok, that corresponds to step 5 InflatableDonkey. This returns us a device UDID list.

As far as I'm aware, the deviceIdentifier/ deviceHardwareID can be randomly generated. The returned UDID list is based on account details, not the phone details we supply. The protobuf reply has a devices key (if devices are present) and the backup UDID will look something like "D:772201d07ecbe303361e

[2015-11-03 16:36] devzero0 commented on #62
Not sure if this will be of any value, but [here](https://github.com/devzero0/iOS9_iCloud_POC) is a reimplementation of [InflatableDonkey](https://github.com/horrorho/InflatableDonkey) in Python. I did this because I'm a "Python guy" so hacking on this in Python is easier for me than in Java. Thinking that others might be in the same boat and that it might increase the audience of folks that can p

[2015-11-03 23:57] horrorho commented on #62
@devzero0 Excellent!! Thank you for this. It's always been my intention that we somehow restore iLoot's functionality or at least create a functional fork/ clone. Unfortunately my Python skills are limited to basic interpretation, otherwise it would have been my first choice for coding.

[2015-11-04 00:00] fongph commented on #62
@horrorho Thanks for your quick reply. I made a CKDFetchRecordsOperation request and got a reply that contains a list of devices and in this case only 1 device "Paulino's iPhone" with device ID : "D:342dd360112661a1387aed03b7e408adeda782b3".
![ios9-1](https://cloud.githubusercontent.com/assets/15205357/10925077/f5c94a48-823f-11e5-8c8b-99c159fb4946.png)

I then made another CKDFetchRecordsOperation

[2015-11-04 00:31] horrorho commented on #62
@fongph Ok. Are we confusing phone UDID with backup UDID? The first iCloud response returns a 'devices'/ backup UDID, which is not related to the phone UDID. The backup UDID is created randomly when a phone is first backed up to iCloud. At least that's my understanding of the process.

In short, backups are referenced by their own UUIDs, not by the phone UUID.

It is possible that the phone UDID i

[2015-11-04 18:32] Enes81 commented on #62
Are you guys aware that the people from Elcomsoft somehow managed to download ios9 backups when iCloud panel is installed?

[2015-11-04 18:36] devzero0 commented on #62
Personally I was not. That is potentially interesting... I'm going to look into that.

[2015-11-06 04:13] horrorho commented on #62
@Enes81 a few of us were discussing this the other week about Elcomsoft potentially hooking into iCloud dlls. If someone has the new Elcomsoft Phone Breaker, the necessary skills (which rules me out) and tools they could potentially spy on the process. If we can isolate the calls being made and their context/ purpose, it could guide to own our solution.

The http/ protobuf aspect is trivial so it'

[2015-11-09 18:02] t3zuka commented on #62
Having taken a quick look at the elcomsoft solution. The atex binary may be of interest, it generates a text file named icloud_token_{date/time}, containing the email address and of course a token. I'll investigate a little more and see how this applies to what is already known.

[2015-11-10 12:22] dfirfpi commented on #62
you could check if the DPAPI decryption of Windows iCloud token still works
(see here http://blog.digital-forensics.it/2015/01/happy-dpapi.html).
Actually I can't, but I could to it in the next days if useful. As far as I remember, I was able to access the backups with the pair [dsPrsID, mmeToken]... but it was not the actual version. If I can help with this, let me know.

[2015-11-12 13:37] vladmazur commented on #62
Guys, any progress? How can I help?

[2015-11-15 09:32] TSWorks commented on #62
Elcomsoft Phone Breaker EPV-229-VFAXG-7F8M3-D8T3P-0NWAJ

[2015-11-15 09:49] TSWorks commented on #62
https://www.elcomsoft.com/epv.html EPV-229-VFAXG-7F8M3-D8T3P-0NWAJ

[2015-11-15 18:08] mattandersen commented on #62
If there is anyone with mod access, @hackappcom or perhaps @dlo, can delete the preceding comments containing the Elcomsoft licenses, that would be great. The Elcomsoft team has historically been quite open in their sharing of information. They have given talks and published their slides containing a wealth of information. If we have any hope of them continuing to do so, or possibly collaborating

[2015-11-15 18:29] dlo commented on #62
I would delete, but don't have mod access. :(

[2015-11-25 03:49] Aliasr commented on #62
Any updates guys?

[2015-12-01 15:58] mjainv5 commented on #62
Any update guys?
I can pay to that guy which will do backup(iOS 9)stuff
Thanks

[2015-12-03 10:55] dixon528 commented on #62
Hello guys,

Our team of 3 people has been working hard on getting data from Cloudkit backups during the last month. We've been researching all possible ways, but there is no luck with getting the data from there so far. I'm pretty sure each of you has done a lot in this research direction. Everyone has done his unique research.

If we share information about what we've been able to learn, we can

[2015-12-09 13:49] shawl852 commented on #62
Hey Everyone,

Has anyone got a solution for iOS9+ already? I'm willing to pay generously for it.
My email is shawl852@gmail.com.

[2015-12-10 11:27] t3zuka commented on #62
elcomsoft have a proprietary solution.

[2015-12-10 17:58] sammarcus commented on #62
@shawl852  I've personally used Reincubate's product and can confirm it's able to extract an iOS 9 CloudKit backup and decrypt it. I was also tweeting at the CEO and he's a cool guy — they have solid support.

[2015-12-12 02:33] ItsASmallWorld commented on #62
Anyone know if Elcomsoft Phone Breaker can be run from command prompt on WIn?

[2015-12-16 13:44] MkDevelop commented on #62
Guys I don't know if it's of any use but have you looked at https://github.com/reincubate/ricloud

[2015-12-16 20:57] Jstev3 commented on #62
to use ricloud you need pay for get an userid and password and put in the script, but maybe someone with knowledge can inspect that script and make this fully functional

[2015-12-16 22:43] t3zuka commented on #62
The problem with reincubate is that they do all the interesting iCloud stuff server side, so their API isn't much use.

[2015-12-17 16:43] alw14698 opened #71 "How do you use this?"
I downloaded the iloot-master folder and python 2.7.7 and I cant figure this out past that. I tried double clicking on iloot.py and it opens the cmd window and instantly closes it. There are not any clear instructions on how to use this from a-z, help?!?

[2015-12-18 03:05] Jstev3 commented on #71
See the README file...

[2015-12-19 14:12] moritzdietz commented on #71
Also @alw14698 if you don't know how to run python scripts from command line you really should take a step back and think about learning that first.

[2015-12-24 00:29] MkDevelop commented on #62
Hmm that sucks...
Any update guys?

[2015-12-29 18:21] nickgoodman commented on #62
If I'm reading the above discussion and the code correctly, what needs to be done is:
- Track down the API needed to find the encryption keys
- Get ahold of the keys
- Use the keys to decrypt the info that will lead to implementing step 11 in the code

From various comments here and other locations, it looks like the best approaches to solving the above are:
- somebody with knowledge of the backup

[2015-12-29 20:11] horrorho commented on #62
@nickgoodman Thank you for the offer! I'll take some time this weekend to summarize what we have and what we need. It will take more than a few minutes and more than a few sentences to describe the issue in any sort of detail. In short: we can recover files but we can't decrypt them, so either we figure the decryption scheme or we hook into iCloud dll decrypt calls.

I've reported @TSWorks for abu

[2015-12-29 20:24] nickgoodman commented on #62
Thanks @horrorho  -- I'm working on capturing my own restore logs at the moment.

[2015-12-29 20:32] ifnull commented on #62
I reported @TSWorks as well. Interestingly, the serial he provided has a prefix of "EPV" which is for another Elcomsoft product and not Elcomsoft Phone Breaker.

[2015-12-29 20:52] ItsASmallWorld commented on #62
@nickgoodman see page 11 of the iOS 9 security guide for the encryption architecture overview https://www.apple.com/business/docs/iOS_Security_Guide.pdf

[2015-12-30 20:58] nickgoodman commented on #62
In case it's helpful for others working on this problem, I was able to capture my restore traffic using Charles Proxy following @devzero0's procedure with a few modifications:
- I shared my laptop's wifi network with my phone so that the laptop would be the phone's internet gateway -- this simplified a few things (this requires a wired connection for the laptop but I found it much simpler than oth

[2015-12-31 19:09] nickgoodman commented on #62
Looking at my traffic capture, I see two things that may be related to the keys we're looking for:

* There's a Hashed MAC key (and I believe it's a shared secret key, not a signature of a message) returned from ckdatabase.icloud.com in one response (it's part of the 211 protobuf).

* The device makes several calls to escrowproxy very early in the restore.  This service may be providing access to

[2016-01-03 20:59] thavidu opened #72 "ValueError: zero length field name in format"
When I try to run iloot, I get the following error pretty quickly:
Perhaps apple has changed the protocol or something? Does this script still work?

Output directory : output
Traceback (most recent call last):
  File "iloot.py", line 649, in <module>
    download_backup(args.apple_id, args.password, args.output, args.item_types, args.snapshot, args.combined, args.itunes_style, args.domain, args.t

[2016-01-09 03:36] ShooTeX commented on #62
any progress?

[2016-01-09 16:29] nickgoodman commented on #62
I've looked through both the backup and restore logs and see a few things that may be related to the keys, but I'm not sure what format or encryption is being used.  Any thoughts?

[2016-01-09 21:21] lucoia commented on #62
I bought both Elcomsoft Explorer for WhatsApp and Elcomsoft Phone Breaker Forensic version, and
I tried them both on iOS 9.0.2 devices

EXWA worked almost perfectly on 2 Iphone 6, I was able to retrieve all messages, pictures and audio from the icloud backup with a single click saying "save all". except for videos, whatsapp said it's not available anymore on their servers.

EPPB was able to do the

[2016-01-11 18:29] nickgoodman commented on #62
@mn3monic , perhaps we'd learn something by comparing the sequence of calls that the native restore process makes to what the EPPB does.  In my logs of a restore, I see:
- general calls to apple (i'm guessing relating to the phone telling apple what's going on)
- escrowproxy.icloud.com calls that look like they may be getting encryption info and/or keychain info
- a bunch cloudkit calls
- download

[2016-01-11 19:34] ifnull commented on #62
I didn't even know AT&T cloud storage was a thing until I looked at reincubate's calls. Is it possible EPPB is leveraging Reincubate's iCloud API?

https://github.com/reincubate/ricloud

[2016-01-15 22:23] t3zuka commented on #62
@ifnull Could you point to the reincubate calls you mentioned?

[2016-01-15 23:23] ifnull commented on #62
@t3zuka I only have one url that I have logged from their app and it was in an alert. They are using SSL pinning so I haven't been able to log any of their other requests.

[code]

[2016-01-16 04:28] mn3monic commented on #62
I know it's lame but seems I'm not able to point Fiddler4 at EXWA or EPPB, only web browsers work with it, I tried to change some connection and HTTPS options but still nothing.

Anybody have a clue how to make it work?

[2016-01-16 15:11] RichardWithnell commented on #62
@mn3monic If they are using SSL pinning as @ifnull pointed out for reincubate, it might not be possible, as Fiddler uses man in the middle. Furthermore, EPPB is locked down with vmprotect, so it would take a significant effort to make any progress down that route.

[2016-01-20 20:51] ciucaandrei commented on #62
I would really like an update for this application so that it could also work with iOS 9. Now iloot can not be used because about 75% of iOS devices are with iOS 9. I am sure that there are more people that need this update and if it takes more time, soon iOS 10 will be released and that could mean that the update for iOS 9 could be useless.

I am thinking that we could raise some money(from the p

[2016-01-20 21:28] lennartbunk opened #73 "AttributeError"
Hi, its my first attempt to use python. Maybe the solution is obvious for someone else.
I'm running Win 10 with Python 2.7.7.

C:\Python27\iloot-master>iloot.py EMAIL PASSWORD
Working with EMAIL PASSWORD
Output directory : output
Traceback (most recent call last):
  File "C:\Python27\iloot-master\iloot.py", line 679, in <module>
    download_backup(args.apple_id, args.password, args.output, args.i

[2016-01-24 02:08] ifnull commented on #73
Add a `print data` to https://github.com/hackappcom/iloot/blob/master/iloot.py#L79. Sounds like `get_account_settings` didn't return the settings. May be 2 factor auth issue. You should see an error in the print statement.

[2016-01-24 17:41] lennartbunk commented on #73
I added "print data" to line 79, line 80, line 379 and 380.
It results in syntax error or makes no difference at all.
Sorry, i'm a total newbie in python.

[2016-01-24 22:28] ifnull commented on #73
it should look like this ...

[code]

[2016-01-25 06:39] teambobbenbobnewshoes commented on #62
Throwaway account.

I am no expert in this field; more of a dabbler. I once spent a little time reverse-engineering Elcomsoft's previous version of phone breaker. However, their arsenal of anti-debugging techniques (or rather, that of the commercial packer that they likely used,) got the best of me. Just wondering if anyone has had any success with subverting these techniques, preferably with the

[2016-01-25 15:13] lennartbunk commented on #73
Okay, now that's the result:

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
        <dict>
                <key>protocolVersion</key>
                <string>1.0</string>

[code]

</plist>
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!DOCTYPE plist PUBL

[2016-01-25 17:43] t3zuka commented on #62
@teambobbenbobnewshoes they are using vmprotect (in the latest version at least), so reverse engineering the actual application could be incredibly difficult.

I'm fairly sure the icloud library they are using is AOSKit.dll, I've briefly looked through the assembly, but I've not had time to get any further. I'll try hooking into the functions soon and find out what is actually being called.

Addit

[2016-01-26 03:36] mca-gif commented on #73
The issue is that you have not approved the terms and conditions released when iOS 9 was released. Back in October iloot was changed to pretend to be iOS 9 in a vain attempt to get it to fetch iOS 9 backups. Aside from perhaps a recent version of iTunes, I'm not sure anything but signing in on an iOS 9 device can trigger the approval process. You could also roll back the changes made in commit bcc

[2016-01-26 04:20] teambobbenbobevennewershoes commented on #62
@t3zuka Thank you for the information. I remember identifying some .UPX sections in the binary of the previous version, which is what lead me to believe that it was simply packed as opposed to virtualised. Could have been a red herring; I remember reading somewhere that it's not unheard of for packers to name binary sections after the .UPX packer to mimic the overall layout of the exe.

Either way

[2016-01-26 05:21] teambobbenbobevennewershoes commented on #62
In fact, looking at an old version of Dr Fone in IDA, it hardly seems obfuscated at all. During the initial startup of the application, an exception is thrown if a debugger is attached (or, more accurately, detected,) and execution terminates. From what I can see here though, despite basic anti-debugging routines being tacked onto the end of the project, a good portion of it's code is actually int

[2016-01-26 06:11] ifnull commented on #62
@teambobbenbobevennewershoes Don't bother with Dr Fone.

![](https://www.evernote.com/l/AfqxURT_WKxAyJFxBDvKbcUY6NJh40Gt_F8B/image.png)

[2016-01-26 10:04] teambobbenbobevennewershoes commented on #62
Damn, I had my hopes up then! Cheers for the heads up man. I apologise about my lack of research into the subject; their website claims that their software is "fully compatible" with iOS 9.

[2016-01-26 11:19] teambobbenbobevennewershoes commented on #62
I've read a bit more on the subject (just what you guys have written,) and it certainly does seem like traffic analysis or EPPB API/artefact disassembly are the only options available at this time. Just out of curiosity, I see Fiddler being mentioned a lot for the approach of traffic analysis and I noted that @mn3monic was having difficulty pointing the tool at EPPB and EXWA. Having never used Fid

[2016-01-26 21:10] DustyZ commented on #62
FYI: Tenorshare iPhone Data Recovery (latest version) will download iOS9 backups without problems. It will also decrypt them, even in the trial version, but not offer you the ability to "recover" (aka. rename files and recreate folder structures) without a license. Not packed, can be debugged, MITMed and sniffed easily with proxifier and e.g. Fiddler. Just force it to not run as admin. It interfac

[2016-01-27 04:28] ifnull commented on #62
@DustyZ I don't see any evidence that Tenorshare supports iOS 9 iCloud backups. Like several of the other recovery tools, it does support iOS 9 recovery from device, local backups, and iOS 8 iCloud backups.

[2016-01-27 08:39] lennartbunk commented on #73
The <string>MOBILEME_TERMS_OF_SERVICE_UPDATE</string> line made me think of that problem too but i didn't found a solution. I installed the newest iTunes and iCloud but there wasn't an option to accept the new TOS.

I now rolled back the changes made in commit bcc5052 and - it's working!
The reason might be that it's an old iPhone 4s Backup from iOS 8.1.1.

Now it stopps after about 5mb with that:

[2016-01-27 08:41] nsglcck commented on #62
@ifnull I've just tested Tenorshare and can confirm it does work with iOS 9 backups (including whatsapp). However you need to have iCloud control pannel installed like with Elcomsoft.

[2016-01-27 17:04] pjryan93 commented on #62
@Enes81 Are you using the free version? i downloaded the trial and it only shows ios 8 backups.

[2016-01-28 11:25] vinchigreg commented on #62
Unable to download now, Tenorshare download is breaking after 7 MB of download.  Hope it will be fixed soon and then I can track it back.

On the other hand Dr. Fone isn't compatible with iOS 9 backup extraction and giving me the same screen as uploaded by @teambobbenbobevennewershoes

[2016-01-28 11:41] codebar33 commented on #62
I tested Tenorshare Mac and it seems to not be able to retrieve iOS 9 backups.

[2016-01-30 16:48] Aliasr commented on #62
Tenorshare for Mac is version 6.6.0.6 which cannot retrieve iOS 9 backups.  Tenorshare for PC is version 6.7.1.0 which can indeed retrieve iOS 9 backups.

[2016-01-31 13:43] horrorho commented on #62
@DustyZ Thank you! I can confirm that on a virtual Windows 7, Tenorshare 6.7.1.0 does retrieve iOS9 backups and that the process can be redirected through Fiddler using a proxifier.

Examining the logs I've noted a [SRP](https://en.wikipedia.org/wiki/Secure_Remote_Password_protocol) exchange which occurs early on. However the protocol is not trivial, and yes I suck at crypto so don't expect much p

[2016-02-01 20:22] Itskev95 commented on #62
Can someone please leave a small tutorial on how to retrieve files from Tenorshare with out a license? Before you say no, just remember you may be in the shoes of someone who doesn't know how to do something. Good karma pays off. Thank you in advance.
-Kevin

[2016-02-02 05:12] mrkiko opened #74 "Thank you!"
This is not an issue. It's a "Thank you!". thank you for this project.
Enrico

[2016-02-04 22:38] ghost opened #75 "File path is too long"
Backup gets stuck downloading a file that has a file path thats too long, im outputting to C:\b so its as small as possible. Is there anyway to tell it to skip the file? I have also tried itunes-style but ibackupbot says the manifest.mbdb is unsupported I dont wan't to have to check all 7000 files manually.

[2016-02-05 19:36] FiZiX commented on #62
Has anybody analyzed this software yet?

https://www.wondershare.com/iphone/ios-9-data-recovery.html#part2

[2016-02-05 19:54] Pink280z commented on #62
btw, Elcom updated their software a couple of days ago. No longer requires iCloud control panel installed on Windows.
https://www.elcomsoft.com/news/624.html
http://blog.elcomsoft.com/2016/02/elcomsoft-phone-breaker-5-20-direct-icloud-access-and-ios-9-3-support/

[2016-02-11 00:41] mdPlusPlus opened #76 "KeyError: 'com.apple.Dataclass.Backup'"
`python iloot.py %APPLEID% %PASSWORD%`

[code]

What exactly does this mean?

[2016-02-11 00:43] mdPlusPlus commented on #75
Have you tried it on a linux system/VM?

[2016-02-11 03:05] Aliasr commented on #62
Hello all. Is anybody still working on this? Any way we can help?

    El Viernes 5 de febrero de 2016 13:56, vid99 <notifications@github.com> escribió:

 btw, Elcom updated their software a couple of days ago. No longer requires iCloud control panel installed on Windows.
https://www.elcomsoft.com/news/624.html
http://blog.elcomsoft.com/2016/02/elcomsoft-phone-breaker-5-20-direct-icloud-access-and

[2016-02-11 20:20] pauljayd commented on #62
Just another user interested in LiquidDonkey Java access to iCloud access here --
The work already/being done is way beyond me, but I know there must be many of us hoping it all ends successfully! My wife got an iPhone, and I'm desperate to access her phone contacts for inclusion into our home-grown personal-info files.
Good luck.
Paul

[2016-02-13 13:38] #75 closed, assigned to nobody

[2016-02-13 16:42] teamboldshoes commented on #62
My account keeps getting marked as a bot. Stop it please GitHub!

Recently, I attached Olly to Tenorshare and viewed it's loaded modules. I cross-referenced the DLLs that Apple supply with iCloud Control Panel with those loaded by Tenorshare and used API Monitor to hook function calls from those DLLs during a "Notes" backup download. (iOS 8.4 unfortunately: Tenorshare crashes when I try to log int

[2016-02-13 16:52] teamboldshoes commented on #62
![icloudlib dll exports](https://cloud.githubusercontent.com/assets/17219240/13028825/1f3090e4-d272-11e5-827a-a35066056d2c.jpg)

[2016-02-13 18:29] horrorho commented on #62
@teamboldshoes Thank you! I've spent the last week looking at this problem too and it's nice to have another perspective. Against my better judgement I've been getting my hands dirty and delving into binaries. This has been difficult because I have no idea what I'm doing :'(

AOSkit.dll is statically linked in I suspect, so we won't see any calls to it directly. But I don't think it handles anythi

[2016-02-16 21:13] t3zuka commented on #62
@teamboldshoes as this is from an iOS8 backup, are you sure this is applicable?

[2016-02-16 22:53] teamboldshoes commented on #62
@t3zuka Well I'm pretty sure the exports DownBackupInfoOS9(), DownloadBackupDataOS9(), ParseBackupDataOS9() and ReleaseBackupInfoOS9() are the functions that provide iOS 9 functionality, so analysis of those would be relevant. Unfortunately, I'm having difficulty with my own account (a buffer overflow seems to occur whenever I try to login), so I can't take a look at the iOS 9 backup download proc

[2016-02-17 02:42] Judicious commented on #71
In Windows?
Just as the other guys have suggested you should probably look up how to use Python in command line before even thinking about using a project of this nature. However I will try to explain some things for people trying to get started.
1. You will want to use Python 2.7:
https://www.python.org/downloads/release/python-2711/
2. You may also need Microsoft C++ compiler for Python(otherwis

[2016-03-01 03:22] painkillerxxx commented on #71
Hey I need help, I follow all the steps of Judicious, but the Python fixed This:

Traceback (most recent call last):
  File "C:\Python27\Scripts\iloot.py", line 4, in <module>
    import gevent
  File "C:\Python27\lib\site-packages\gevent__init__.py", line 49, in <module>
    from gevent.hub import get_hub, iwait, wait, PYPY
  File "C:\Python27\lib\site-packages\gevent\hub.py", line 11, in <module

[2016-03-01 21:31] andrewbluepiano commented on #62
Just putting this out there, not sure if its helpful or not, but I have a license of the most recent version of Elcomsoft Phone Breaker Pro edition, and although it isnt perfect, it can indeed download iOS 9 backups. If theres anything I can do to help just let me know.

[2016-03-02 08:38] SeAlgoAsoma commented on #62
Sure would have been nice if it was more obvious that this doesn't work for iOS 9. I just wasted about 2 hours before finding this thread.

[2016-03-06 00:55] painkillerxxx opened #77 "Error"
Hey I need help, I follow all the steps of Judicious, but the Python fixed This:

Traceback (most recent call last):
File "C:\Python27\Scripts\iloot.py", line 4, in
import gevent
File "C:\Python27\lib\site-packages\gevent__init__.py", line 49, in
from gevent.hub import get_hub, iwait, wait, PYPY
File "C:\Python27\lib\site-packages\gevent\hub.py", line 11, in
from greenlet import greenlet, getcurre

[2016-03-17 01:23] Aliasr commented on #62
Hi all!

It has been quite a few days since the last person explained his/her progress on the project so I think everybody wants to know if someone is still working on it? It would also be helpful to know if there is anything other people might help with?

Thanks in advance.

[2016-03-17 14:03] horrorho commented on #62
Hi! I'm still working on it as much as I can in my spare time. I'm slowly making progress although I hate cryptography with a passion and I enjoy working with raw assembly language even less. I've spent the last day or two writing cryptography code which I'll push at some point.

Rather like wandering into a giant rabbit hole, I'm not sure sure how deep it goes. So as to how much more code I need

[2016-03-18 04:57] vipinbeni commented on #62
Wonder share is now support ios9

http://www.digitaljournal.com/pr/2869706

[2016-03-27 06:34] Judicious commented on #71
You need to install the requirements.

[2016-03-28 03:45] bgunsberger commented on #50
Bump. There are plenty of GUI-based applications that provide this functionality.

[2016-03-29 05:29] Aliasr commented on #62
That's great to hear @horrorho! It would be great if you could share your progress or the issues you are getting into, and maybe someone with a little bit more expertise in that particular field can help you out.

[2016-03-29 08:10] horrorho commented on #62
@Aliasr Hi there. I've been pressed for time again. I haven't forgotten, I promise! As for expertise, it's the twin black arts of cryptography and reverse engineering binaries.

[2016-04-07 13:15] horrorho commented on #62
Ok! I've pushed a load of changes to [InflatableDonkey](https://github.com/horrorho/InflatableDonkey).

I've figured out the escrow process and we now have access to decryption keys. Protection zone decryption is 90% figured but mostly uncoded. The old keybag/ protection classes mechanic looks unchanged. I'll code these in over the next few weeks as free time allows.

Chunk decryption is the big s

[2016-04-11 00:48] horrorho commented on #62
Update! Protection info code is largely in place. Keybag unlocking seems to be functioning ok. Chunk decryption is figured, I just need to formally code then push it. This leaves us with protection class handling which should be it. If the mechanics haven't changed from iOS 8 then it will be a trivial port of LiquidDonkey code, otherwise it will be more reversing and crypto work.

I was only ever

[2016-04-11 00:51] gastonmorixe commented on #62
@horrorho 👊💪

[2016-04-12 07:41] elaygueta commented on #62
@horrorho you are amazing! great job!!!! please continue updating.. ;)

[2016-04-13 12:36] ill0gix commented on #62
@horrorho I finally stopped just being a lurker here and signed up on GitHub just to commend you for your amazing work. Been a long time user of your projects and just wanted to say thanks. We all look forward to your release!

[2016-04-13 12:52] ghost commented on #62
@horrorho amazing work ,We have great implement from @horrorho ,  all hope on you

[2016-04-13 16:30] vipinbeni commented on #62
@horrorho great we are looking soon implementation from you sir

[2016-04-14 07:38] alias34 commented on #76
same issue happen to me

[2016-04-15 02:03] horrorho commented on #62
Update! As some of you are already aware, I've already figured out the last few steps. I can provisionally download and decrypt files. I've yet to perform exhaustive tests, so it's not a guarantee.

So [InflatableDonkey](https://github.com/horrorho/InflatableDonkey) has largely achieved its goal. It now floats amongst the clouds in a suitably inflated state.

The caveat being I've not pushed the l

[2016-04-15 03:05] gastonmorixe commented on #62
👌🚀

Sent from my iPhone

[2016-04-15 12:08] FiZiX commented on #62
@horrorho Thank you again for all of your hard work! Is there a way to contribute to you, financially or otherwise?

[2016-04-18 02:44] vipinbeni commented on #62
Good and Great Work @horrorho

[2016-04-19 05:34] iwzoo commented on #62
@horrorho Great job!!! Thanks

[2016-04-20 04:48] horrorho commented on #62
Update update! I've had requests to push code for the complete backup process. I have done so. [InflatableDonkey](https://github.com/horrorho/InflatableDonkey) is now downloading complete backups, but it's still an experimental build so please don't expect too much.

It's primarily out there for the developers and security experts who've been keen to inspect it, bugs and all.

I'll continue to wor

[2016-04-20 05:17] sammarcus commented on #62
@horrorho Thank you for your incredible efforts!!

[2016-04-22 11:51] horrorho commented on #62
Ok, bad news all. [InflatableDonkey](https://github.com/horrorho/InflatableDonkey) in it's current (un-pushed) build works pretty well with iOS9.2 backups.

However Apple have altered some of the core encryption mechanics for 9.3 which break things for us, namely a new protectionInfo format. Previously it was a DER encoded entity, now it appears to be an encrypted byte format with a 0xFF prefix.

[2016-04-23 14:50] metalgitter opened #78 "Available Devices: 0"
The script runs but shows there are no devices available to download a backup from. I know my icloud account has multiple backups and I can see them from my iPhone and in the iCloud program. Has Apple blocked this script?

[2016-04-27 05:13] brijesh12345 commented on #71
while running this command : python iloot.py ddss@gmail.com dsfsfsdfsdf. got only response.
Working with sdfsdfsdf@gmail.com :dsfsfsdfsdf
Output directory : output
Available Devices:  0
There are no backups to download!

[2016-04-28 13:35] kosmakoff opened #79 "(Suggestion) Shouldn't extended attributes be repeatable field?"
The code is [here](https://github.com/hackappcom/iloot/blob/master/icloud.proto#L46)
I believe the ExtendedAttribute should be not optional, but repeatable.

Did anyone have any issues while decrypting the server response, related to this field?

[2016-04-30 00:49] jamesan opened #80 "Missing distribution license?"
I can't seem to figure out what license this project is being distributed under. I'm assuming it's an open-source, copy-left license, but please illuminate me -- thanks!

[2016-04-30 00:57] jamesan opened #81 "Versioning scheme"
There doesn't appear to be any versioning scheme or any way to indicate a version of the code except by commit number. A version scheme would offer identifiers associated to high-level feature adds or bug fixed that low-level commit numbers don't quite capture. For starters, I'd suggest semantic versioning as a basic scheme unless there's reason to want a more involved versioning scheme: http://se

[2016-05-05 21:12] otavioarj commented on #78
Same issue here, icloud account with a device, but I got 0 devices for iloot.

[2016-05-08 23:40] tfranovic commented on #78
You're using iOS9. Iloot is not (yet) compatible with iOS9. Check out: #62

[2016-05-08 23:42] tfranovic commented on #76
I've seen this happen when the account doesn't have any backups present or the account expired (Apple is asking you to update your security questions when you try to login to iCloud).

[2016-05-10 03:20] vipinbeni commented on #62
@horrorho Dear Sir  Is there is python implementation of  InflatableDonkey is available devzero0/iOS9_iCloud_POC
 is only showing the backups of ios 9 but  iwill not able to find how to download the same Kindly Help me .

thanks

[2016-05-27 23:08] Aliasr commented on #62
Hi @horrorho. Some of us are wondering when are you (or if you are) going to push the build that works well with iOS9.2 backups. Also if you have figured out something new about iOS9.3 or if you have any doubt that someone can help you with. Thanks for the hard work!

[2016-05-31 00:52] frameraid opened #82 "What am I doing wrong :("
I read all issues and i searched all websites i could find about what i am doing wrong, but i dont get it ...
i got python 2.7.11 installed, i unpacked the iloot folder into the python/scripts folder.
when i execute python iloot.py after i directed there, it tells me that the syntax is wrong.
i tried to pip install -r requirements.txt , didnt work too, i tried it from the scripts folder and from t

[2016-06-03 20:49] letrape opened #83 "Prints are invalid in Phyton 3.0"
Today i am trying to run the py file finding some problems with print  , the reason is that in Python 3.0 print are now a function that means that you need to use "(,)"

[2016-06-06 11:19] vipinbeni commented on #62
@horrorho  Sir any update

[2016-06-14 01:59] VascoSilver commented on #82
I had the same problem, please help

[2016-07-04 07:40] AnonyMoouse commented on #73
Hi, I am a total and complete noob when it comes to programming of any kind. I was wondering if you could post the version without the ios9 changes on MEGA or email them to me at gatfagmyshitup@gmail.com. It would be greatly appreciated.

[2016-07-07 21:05] horrorho commented on #62
Sorry for the lack of updates and general apathy, I've been under constant and heavy pressure from work. That being said, I've had this week off and I'm 90% certain that I have the iOS 9.3 decryption figured. The usual caveats apply as iOS encryption seems to be a rapidly moving target these days.

I'll aim to push a new build in a few days. I'll also work through the backlog of emails and tickets

[2016-07-10 01:11] horrorho commented on #62
Ok ok ok!!

Some of you may have noticed that I've been pushing out a number of builds this week. At present [InflatableDonkey](https://github.com/horrorho/InflatableDonkey) appears to be largely functional.

I'm rather hoping that someone wants to port this over to Python and take over the reigns. Looking through the code base I hadn't realised how complex the whole thing has become and it's prob

[2016-07-13 09:12] nirlandau commented on #62
very impressive work!
thank you

[2016-07-21 13:30] teamboldshoes commented on #62
@horrorho Excellent work; thank you so much!
What were the key differences between iOS 9.3 and earlier?

[2016-07-21 15:10] horrorho commented on #62
@teamboldshoes the notable change was a new lightweight ProtectionInfo data format. Also, although not new to iOS 9.3, I've added in experimental AES-XTS support so backups created with newer devices (A8+ processors) is possible.

[2016-07-25 22:05] Egospastic commented on #71
I'm getting the message:

Downloading 0 files due to filter

[2016-07-25 22:37] Egospastic commented on #71
Never mind, I understand why now. This doesn't seem to have up to date info on these backups. Accounts are saying there are no backups when there definitely are.

[2016-07-27 08:42] AlanShi0 opened #84 "Two step verification, any solution?"
console output:
Verification Required: This Apple ID is protected with two-step verification. To sign in, you must verify your identity.

Is there any solution?

[2016-08-01 18:50] larscmagnusson commented on #82
Are you sure youre using python 2.7? try give just the "python" command and it should print out what version you are using.

What error msg do you get?

[2016-08-08 19:51] davidhodge commented on #84
I would also like to know!

[2016-08-14 05:29] kristoffergh commented on #84
You need to make a device specific password, on appleid.apple.com

[2016-08-14 15:10] nirlandau commented on #62
I want to get my Whatsapp backup from the cloud backup I've downloaded.
Anyone knows where it is?

[2016-09-14 00:57] usmarine2141 opened #85 "Issue with command"
When typing everything out as instructed it adds on additional letters at the end that were typed previously

root@hehaw:~/iloot# python iloot.py (EMAIL) (PW)
python iloot.py (email address)  (pw)iloot/
usage: iloot [-h] [--threads THREADS] [--output OUTPUT] [--combined]
             [--snapshot SNAPSHOT] [--itunes-style]
             [--item-types ITEM_TYPES [ITEM_TYPES ...]] [--domain DOMAIN]

[2016-09-15 17:56] mac-enthusiast commented on #82
type:

[2016-10-19 21:14] akaJedi commented on #84
Hi, device specific password doesn't help.
I got after that: Request /setup/authenticate/$APPLE_ID$ returned code 401
Disable it temporally

[2016-10-19 21:48] akaJedi commented on #84
But bad thing about disable 2SA it you can turn it back only after 3 days.

[2016-10-31 08:25] arpit1997 commented on #83
@letrape that you are saying is totally correct and valid that print statements are now called as a function rather than statement. but you should keep in mind that this project was built using [python2](https://www.python.org/download/releases/2.7/) may be you should consider changing the title of issue #83 from prints are invalid to "Port to python3" or something that would be very meaningful an

[2016-11-09 11:42] nirlandau commented on #64
did you find a solution?

[2016-11-12 19:14] sbasmanov commented on #73
I needed sms.db to restore dialog deleted by accident. On my 5s script worked fine. On wife's 5s it gave MOBILEME_TERMS_OF_SERVICE_UPDATE error. Googling shows that no easy solution. But above link to commit bcc5052 that did the trick.  In current script I changed only 3 lines:
`
CLIENT_INFO = "<iPhone2,1> <iPhone OS;5.1.1;9B206> <com.apple.AppleAccount/1.0 ((null)/(null))>"
#CLIENT_INFO = "<iPhon

[2017-01-25 23:45] bsabiston opened #86 "segmentation fault"
I tried to run this and it just printed this:
Output directory : output
Segmentation fault: 11

Does this still work?

[2017-04-07 02:29] lancer2002 commented on #40
I met this problem too.

[2017-06-01 02:18] willie0 opened #87 "greenlet.so"
i cant figure out how to solve this  tried to search but i got lost with other issues related:

MAC OSX sierra 10.12.5

Collecting gevent (from -r requirements.txt (line 1))
  Downloading gevent-1.2.1-cp27-cp27m-macosx_10_6_intel.whl (1.1MB)
    100% |████████████████████████████████| 1.1MB 1.1MB/s
Collecting hurry.filesize (from -r requirements.txt (line 2))
  Downloading hurry.filesize-0.9.tar.g

[2017-06-01 03:08] willie0 commented on #87
pip install --user

source: https://github.com/gevent/gevent/issues/679

it worked

 python iloot.py -h
usage: iloot [-h] [--threads THREADS] [--output OUTPUT] [--combined]
             [--snapshot SNAPSHOT] [--itunes-style]
             [--item-types ITEM_TYPES [ITEM_TYPES ...]] [--domain DOMAIN]
             [--keep-existing]
             apple_id password

positional arguments:
  apple_id

[2017-06-01 03:08] #87 closed, assigned to nobody

[2017-08-02 21:36] KGeetings opened #88 "Does this still work on iOS 10?"
Sorry if I'm just being dumb here, but as the title says. Does this work with backups on iOS 10? More specifically iOS 10.3.2

[2017-08-10 00:59] Mocha-L commented on #88
I have the same Problem with u，and Get “Available Devices:  0” everytime. Do u Know why?

[2017-08-10 12:21] FiZiX commented on #88
No, it hasn't worked since iOS 9. See this issue: https://github.com/hackappcom/iloot/issues/62

[2018-01-22 04:10] wliuwliu opened #89 "iLoot showing "There are no backups to download!""
First of all, is it possible to recover photos from an incomplete iCloud backup?
Secondly, when I tried iLoot I am getting this error  though the backup does exist:

python iloot.py me@yahoo.om mypassword  --item-types photos

Output directory : output
Available Devices:  0
There are no backups to download!

[2018-07-25 14:50] Poseidone opened #90 "Anyone looking for a ready made iOS 12 2FA solution ...?"
please message me

[2018-07-25 15:03] Poseidone commented on #62
Hey, does anyone need a fully working scalable iCloud server configuration (iOS 9/10/11/12) 2FA

[2018-07-25 15:31] timtthomases commented on #90
How can I message you?

[2018-07-25 15:32] Poseidone commented on #90
please email me leerjp@hotmail.com

________________________________
From: timtthomases <notifications@github.com>
Sent: 25 July 2018 15:31:13
To: hackappcom/iloot
Cc: Poseidone; Author
Subject: Re: [hackappcom/iloot] Anyone looking for a ready made iOS 12 2FA solution ...? (#90)

How can I message you?

—
You are receiving this because you authored the thread.
Reply to this email directly, view i

[2018-07-31 11:08] S-IMEN opened #91 "TypeError: __init__() got an unexpected keyword argument 'item_type'"
ryu-manager
Traceback (most recent call last):
  File "/usr/local/bin/ryu-manager", line 11, in <module>
    load_entry_point('ryu==4.26', 'console_scripts', 'ryu-manager')()
  File "/usr/local/lib/python2.7/dist-packages/pkg_resources/__init__.py", line 479, in load_entry_point
    return get_distribution(dist).load_entry_point(group, name)
  File "/usr/local/lib/python2.7/dist-packages/pkg_resou

[2018-11-14 23:05] israelfaustino commented on #89
+1

[2018-11-23 22:49] virtualritz commented on #84
This is exactly what's happening for me with an app-specific password. What's the solution?

[2019-09-07 18:48] shafaypro commented on #84
Hey @virtualritz  @akaJedi  did you find any solutions ?

[2019-09-07 19:54] virtualritz commented on #84
Nope.

[2019-09-09 21:13] shafaypro commented on #84
The only way to analyze is using Itunes backup then because even the pyicloud is also using the web interface icloud with no backups located or shown in the web portal. and once you get two-way authentication then there is no way to go back until contacting the Customer support of Apple to remove two-way verification.

[2020-06-19 21:26] #29 closed

[2020-12-22 09:38] fk27122019 opened #93 "Hg"

[2021-10-23 23:17] kingbre opened #94 "ios"

[2021-10-30 12:14] kingbre opened #95 "Ne"
https://github.com/FunkyM/idevice-app-runner/blob/master/Makefile

[2021-11-05 06:56] kingbre opened #96 "U"
https://1drv.ms/u/s!AiTWinWNTkBAnRmhi30q9VK4gxNB